* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    color: #dddd;
}

div {
    margin: 2em;
    display: flex;
    gap: 2em;
    width: 60%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}
p {
    padding: 1em;
    background-color: rgb(26, 26, 26);
    border: 1px solid #cfcfcfdd;
    border-radius: 10px;
}